body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    color: white;
}


/* ---------------------NAVBAR----------------------- */
.nav-logo {
    width: 150px;
    height: auto;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;

}

.left {
    width: 30%;
}

.right {
    width: 70%;
    display: flex;
    justify-content: end;
}

.nav {
    display: flex;
    width: 100%;

}

.nav_ul {
    list-style: none;
    display: flex;
}

.nav_item {

    margin-left: 20px;
    margin-right: 20px;

}

.nav_link {
    text-decoration: none;
    color: rgb(201, 201, 201);
    padding: 9px;
    text-align: center;
    display: inline-block;
}

.extra_contact {
    background-color: gray;
    border-radius: 30px;
}

.nav_link:hover {
    color: white;
    transition-duration: 0.7s;
}



/* _______________________________BODY_______________________________________ */

.complete_body {

    margin-left: 3px;
    margin-right: 3px;
}



/* ---------------------------SECTION1--------------------------- */


.sec1_main_div {

    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}


.sec1_sub_div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    flex-direction: column;
    max-width: 577px;
    text-align: center;
}


.sec1_logo {


    width: 400px;
    height: auto;
}

.sec1_p {
    font-size: 25px;
}



/* ---------------------------SECTION2--------------------------- */


.section2 {
    position: relative;
    text-align: center;
    color: white;
    height: auto;
    padding-bottom: 30px;
}


.sec2_main {

    margin-top: 40px;

}


.sec2_left {


    position: absolute;
    left: 37%;
    bottom: 24px;
    width: 300px;

    transition-duration: 1s;
    margin-bottom: 10px;
}



.sec2_right {

    position: absolute;
    bottom: 24px;
    right: 37%;
    width: 300px;
    transition-duration: 1s;
    margin-bottom: 10px;

}

.sec2_middle {
    width: 360px;
    position: relative;
    z-index: 2;
}

.sec2_main:hover .sec2_left {

    transform: translate(-200px, 0px);


}

.sec2_main:hover .sec2_right {

    transform: translate(200px, 0px);

}



/* --------------------------------------------SECTION3----------------------------------  */


.section3 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: 4rem;
}

.section3 .h1 {
    font-size: 3rem;
}

.section3 .p {
    padding: 20px 30px;
    text-align: center;
    font-size: 25px;

}

.sec3_div1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 75%;
    margin-top: 3rem;
    height: auto;

}

.sec3_div2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 75%;
    margin-top: 3rem;
    height: auto;

}

.div_para p {
    padding: 10px 20px;
    color: #6c757d;
}


.sec3_main {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    padding-bottom: 20px;
    text-align: center;
}



/* --------------------------SECTION4------------------------------------- */

.section4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 5rem;
}

.sec4_grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.sec4_grid .sec4_box {
    width: 350px;
    height: 200px;
    text-align: center;
    margin-top: 5rem;
    padding: 0px 30px;
}

.sec4_grid .sec4_box img {
    width: 20%;
    height: auto;
}

.sec4_grid .sec4_box p {
    font-size: 17px;
    color: #6c757d;
}

.section4 p {
    text-align: center;
    font-size: 25px;
    margin-top: 1rem;
}

.section4 h1 {
    font-size: 3rem;
    margin-top: 1rem;
}

.section4 h4 {
    color: #6c757d;
}


/* -----------------------SECTION5---------------------------- */


.section5{
    padding-top: 50px;
}

.sec5_image1 {
    width: 300px;
    position: absolute;
}

.sec5_image2 {
    width: 300px;
    position: relative;
    top: 0px;
    left: -10%;
    transition-duration: 1s;
}

.sec5_main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.sec5_left {

    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec5_right_images {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec5_right_images:hover .sec5_image2 {
    transform: translate(-100px, 0px);
}

.sec5_fact{

    font-size: 15px;
}

.sec5_why1{
    font-size: 40px;
}


.sec5_button{

    border-radius: 150px;
    color: #212529;
    background: #f9a806;
    border: 2px solid #f9a806 !important;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    padding: 10px 20px;
    transition-duration: 1s;
}

.sec5_button:hover {

    background: #212529;
    color: #f9a806;

}



/* -----------------------SECTION6-------------------------- */


.section6 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 5rem;
}

.sec6_grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.sec6_grid .sec6_box {
    width: 350px;
    height: 200px;
    text-align: center;
    margin-top: 5rem;
    padding: 0px 30px;
}

.sec6_grid .sec6_box img {
    width: 20%;
    height: auto;
}

.sec6_grid .sec6_box p {
    font-size: 17px;
    color: #6c757d;
}

.section6 p {
    text-align: center;
    font-size: 25px;
    margin-top: 1rem;
}

.section6 h1 {
    font-size: 3rem;
    margin-top: 1rem;
}

.section6 h4 {
    color: #6c757d;
}




/* ----------------------------SECTION7------------------------------ */


.section7{

    height: auto;
    color: white;

    margin-top: 80px;
}

.sec7_main{
    display: flex;
    justify-content: space-around;
}

.sec7_middle_image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
   
}
.sec7_middle_image img{
    width: 100%;
}

.sec7_left_text{
    text-align: right;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    
    
}


.test_right{

    width: 70%;
}
.test_left{

    width: 70%;
}


.sec7_right_text{

    width: 30%;
}

.sec7_text_h1{
    font-size: 15px;
    margin-top: 30px;
    font-weight: bold;
}
.sec7_text_h2{
    font-size: 35px;
}


.sec7_image1
{

    margin-top: 100px; ;
}
.sec7_image2{
    position: relative;
    top: -100px;
    z-index: -4;
}




/* --------------------SECTION8--------------------- */



.section8{

    margin-top: 90px;
}

.sec8_h {

    text-align: center;

    padding-bottom: 30px;
}



.sec8_border_image{
    position: absolute;
    animation: rotation 15s infinite linear;
}
.sec8_team_member{
    border-radius: 50%;
    position: relative;
    width: 175px;
    top: 15px;
    left: 18px;
}

.sec8_div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 50px;
    flex-wrap: wrap;
}
.sec8_sub{
    width: 214px;
    display: inline-block;
}


.sec8_image{
    padding-bottom: 20px;
}


.sec8_center_text{

    text-align: center;
}


@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }










  /* ---------------------------SECTION9--------------------------------- */

  .sec9_main{

    display: flex;
    justify-content: flex-start;
    padding-left: 55px;
    flex-direction: column;

    margin-top: 40px;

  }

  .sec9_left{

    width: 80%;
  }

  .sec9_contact{
    font-size: 14px;
  }

  .sec9_heading{

    font-size: 34px;

  }

  .sec9_form_sub{
    width: 270px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 10px;

    background-color: #e6e6e6;
    
  }

  .another{
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 10px;
    background-color: #e6e6e6;
  }

  .sec9_form_btn{

    border-radius: 150px;
    color: #212529;
    background: #f9a806;
    border: 2px solid #f9a806 !important;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    padding: 6px 14px;
    transition-duration: 1s;
}

.sec9_form_btn:hover {

    background: #212529;
    color: #f9a806;

}

.sec9_para a{

    color: #f9a806;


}
  ::placeholder {
    color: black;
    opacity: 1; 
  }